{% load static %}
<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <title>{% block title %}Artigo{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>
                {% block tema %} Artigo {% endblock %}
            </h1>
            <nav>

            </nav>
        </header>
        <main>
            {% block contend %} {% endblock %}
        </main>
        <footer>
            <p>
                <spam>
                    Todos direitos reselvadors!
                </spam>
            </p>
        </footer>
    </body>
</html>